/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  width: 300px;
  height: 300px;
  z-index: 99 !important;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
  background-color: darkslategray;
}
