/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
/* .temp {
  width: 300px;
  height: 300px;
  z-index: 99 !important;
} */
/* Optional: Makes the sample page fill the window. */
html,
body {
  background-color: darkslategray;
}

/* label color */
.input-field label {
  color: #eceff1;
}
/* label focus color */
.input-field input[type="text"]:focus + label {
  color: #000;
}
/* label underline focus color */
.input-field input[type="text"]:focus {
  border-bottom: 1px solid #eceff1;
  box-shadow: 0 1px 0 0 #000;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #b0bec5;
}

.input-field .prefix {
  color: #eceff1;
}

.gray-text {
  color: #eceff1;
}

#map {
  height: 100%;
  width: 100%;
}

#mapCard {
  height: 400px;
}

#attractionList {
  height: 400px;
}

.modal {
  left: 0;
  right: 0;
  background-color: #eceff1;
  padding: 0;
  max-height: 40%;
  width: 35%;
  will-change: top, opacity;
}

img {
  height: 100%;
}

.title-div {
  height: 100px;
  text-align: center;
  display: block;
}

/*350px width*/
@media (max-width: 350px) {
  .logo-img {
    width: 300px;
  }
}
